{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

   <div class="row">
    <div class="col s4 offset-s4"><blockquote ><h5> Forgot your password:</h5></blockquote></div></div>


  <form method="POST">
    {% csrf_token %}
     <div class="row">
    <form class="col s12 m4 l8 ">
    <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
    <div class="input-field col s4 offset-s5">
    <input class="waves-effect waves-light btn-large" type="submit" value="Change password!">
    </div>
    </form>
</div>


{% endblock %}