{% extends 'customer/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ ContactForm.as_p }}
            <input type="submit" value="Update">
        </form>
        {% if ordre %}
            <table border="5" class="table table-hover table-bordered text-center">
            {% for o in ordre %}
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Order_Id</th>
                    <th>Items</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tr>
                    <td>{{ o }}</td>
                    <td>
                        {% for item in o.items.all %}
                            {{ item }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        ₹{{ o.get_cart_total }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}